* {
  margin: 0;
  padding: 0;
}

body {
  background: #eee;
  font-size: 18px;
}

p {
  font-family: "Karla", helvetica;
  line-height: 2em;
  text-align: justify;
}

span.small {
  font-size: .8em;
}

header {
  background: #314151;
  padding: 2em 3em 1em;
  min-height: 90px;
}

header .decor {
  float: right;
}

section#header {
  background: #333;
  text-align: center;
}

section#header img {
  width: 100%;
}

footer {
  font-family: "Karla", helvetica;
  padding: 1.5em 3em 2em;
  background: #333;
  color: #aaa;
  min-height: 50px;
  overflow: hidden; /* Facebook like button iframe tends to break things */
}

footer #left {
  width: 50%;
  float: left;
}

footer .decor {
  width: 50%;
  float: left;
  text-align: right;
}

article {
  background: url("fdl.png") no-repeat 100% 100px;
  margin: 0 auto;
  padding: 2em 0;
  width: 70%;
}

article#index {
  background-image: none;
}

#alt {
  color: #83adbd;
  margin: 1em 0 0;
  text-align: left;
}

#logo {
  float: left;
  width: 100px;
  margin-right: 1em;
}

nav {
  background: #269;
  padding-left: 3em;
  border-top: 1px solid #444;
}

nav ul li {
  display: inline-block;
  list-style-type: none;
  padding: 1em;
  border-right: 1px solid #005;
  border-top-right-radius: 20px;
  box-shadow: 3px 0 5px #445;

  width: 15%;
  min-width: 160px;
}

nav ul li a {
  display: inline-block;
}

nav ul li.active a {
  border-bottom: 2px solid #ccf;
  color: #fff;
}

a {
  color: #269;
}

a:hover,
a:focus,
a:active {
  color: #00f;
}

nav a {
  color: #ccc;
  margin-right: 2em;
  text-decoration: none;
  font-size: 1.5em;
  text-shadow: 1px 1px #000;
}

nav a:hover,
nav a:focus,
nav a:active {
  color: #fff;
}

header, nav, h1, h2, h3, h4, form {
  font-family: "Abel", sans-serif;
}

h1 {
  color: #fff;
  text-shadow: 2px 2px #000;
  text-transform: uppercase;
}

p {
  margin-bottom: 1.5em;
}

article h2 {
  color: #a44;
  font-size: 1.8em;
  margin-bottom: 1em;
  border-bottom: 1px solid #ccc;
}

h2::before {
  content: "⚜ ";
  color: #999;
}

article h3 {
  font-size: 1.2em;
  margin: 2em 0 1em;
  text-transform: uppercase;
  letter-spacing: 1pt;
  color: #a44;
}

article img {
  max-width: 200px;
  float: right;
  border: 1px solid #aaa;
  border-radius: 10px;
  margin: 0 0 1em 2em;
}

iframe,
.fb-like-box {
  margin-bottom: 1.5em;
}

#submit-result {
  display: none;
}

form {
  max-width: 500px;
}

form label {
  display: block;
}

form input[type="text"],
form textarea {
  font-family: "Karla";
  width: 90%;
}

form input[type="checkbox"] {
  margin-right: 1em;
}

form input#birth-year {
  display: inline;
  width: 3em;
}

form input,
form select,
form textarea {
  background: #fff;
  border: 1px solid #ccc;

  margin: .5em 0 1em;
  padding: 1em;
  font-size: 1em;
}

form table {
  padding-top: .5em;
}

form button {
  background: #269;
  color: #fff;
  font-size: 1.5em;
  border: 1px solid #666;
  font-family: "Karla", helvetica;
  padding: 1em;
  width: 100%;
}

@media (max-width: 600px) {
  header,
  footer {
    padding: 1em;
    font-size: .8em;
  }

  .decor {
    display: none;
  }

  nav {
    padding: 0;
  }

  nav ul li {  
    width: 100%;
    box-shadow: none;
    border-bottom: 1px solid #445;
    border-radius: 0;
    padding: 0;
  }

  nav ul li a {
    margin: .5em;
  }

  article {
    width: 90%;
  }

  p {
    text-align: left;
  }
}
