* {
  font-family: "Karla", helvetica;
  margin: 0;
  padding: 0;
}

body {
  background: #eee;
  font-size: 18px;
  text-rendering: optimizeLegibility;
}

p {
  text-align: justify;
}


p, pre {
  line-height: 2em;
}

span.small {
  font-size: .8em;
}

header {
  background: #48a url('../header.jpg');
  background-size: cover;
  overflow: hidden;
  text-align: center;
}

footer {
  padding: 1.5em 3em 2em;
  background: #333;
  color: #aaa;
  overflow: hidden; /* Facebook like button iframe tends to break things */
}

footer .left {
  line-height: 0;
  width: 50%;
}

footer .right {
  width: 50%;
}

footer .decor {
  text-align: right;
  line-height: 0;
}
article {
  background: url("fdl.png") no-repeat 100% 100px;
  margin: 0 auto;
  padding: 2em 0;
  width: 70%;
}

article#index {
  background-image: none;
}

h1 {
  color: #fff;
  text-shadow: 2px 3px 3px #000;
  font-size: 3em;
  line-height: 2em;
  text-transform: uppercase;
  position: relative;
  top: 0.09em;
}

#alt {
  background: rgba(0,0,0,.6);
  color: #fff;
  display: inline-block;
  margin-bottom: 1.5em;
  padding: 10px;
  line-height: 1em;
}

.left {
  float :left
}
.right {
  float: left;
}

header .left {
  margin-right: 1em;
}

#logo {
  width: 100px;
  height: 65.5px;
  padding: 20px 3px 35px;
  background: #fff;
  border-radius: 5px 5px 64px 64px;
  box-shadow: 2px 2px 2px #000;
  position: relative;
  top: 55px;
  margin-right: 25px;
  border: 4px solid #999;
}

nav {
  background: #269;
  padding-left: 3em;
  border-top: 1px solid #444;
}

nav ul li {
  display: inline-block;
  list-style-type: none;
  border-right: 1px solid #005;
  border-top-right-radius: 20px;
  box-shadow: 3px 0 5px rgba(0,0,0,.2);
}

nav ul li a {
  display: inline-block;
  padding: .66em;
  width: 150px;
}

nav ul li.active a {
  color: #fff;
  text-decoration: underline;
}

a {
  color: #269;
}

a:hover,
a:focus,
a:active {
  color: #00f;
}

nav a {
  color: #bbb;
  text-decoration: none;
  font-size: 1.4em;
}

nav a:hover,
nav a:focus,
nav a:active {
  color: #fff;
}

nav ul li a, h1, h2, h3, h4, form {
  font-family: "Abel", sans-serif;
}

article p, article pre {
  margin-bottom: 1.5em;
}

article p {
  letter-spacing: -.25px;
}

article h2 {
  color: #a44;
  font-size: 1.5em;
  margin-bottom: 1em;
}

article h3 {
  font-size: 1.2em;
  margin: 2em 0 1em;
  text-transform: uppercase;
  letter-spacing: 1pt;
  color: #a44;
}

article img {
  max-width: 200px;
  float: right;
  border: 1px solid #aaa;
  border-radius: 2px;
  margin: 0 0 1em 2em;
}

iframe,
.fb-like-box {
  margin-bottom: 1.5em;
}

#submit-result {
  display: none;
}

form {
  max-width: 500px;
}

form label {
  display: block;
}

form input[type="text"],
form input[type="email"],
form input[type="tel"],
form textarea {
  width: 90%;
}

form input[type="checkbox"] {
  margin-right: 1.3em;
}

form input#birth-year {
  display: inline;
  width: 3em;
}

form input,
form select,
form textarea {
  background: #fff;
  border: 1px solid #ccc;

  margin: .5em 0 1em;
  padding: 1em;
  font-size: 1em;
}

form table {
  padding-top: .5em;
}

form button {
  background: #269;
  color: #fff;
  font-size: 1.5em;
  border: 1px solid #666;
  padding: 1em;
  width: 100%;
  cursor: pointer;
}

#index table {
  border-collapse: collapse;
  margin: 0 auto 1em;
}

#index table td, #index table th {
  padding: 10px;
  width: 100px;
}

#index table td {
  background: #fff;
  border: 1px solid #ccc;
  word-break: break-word;
  font-size: 16px;
}

#index table td:first-child {
  background: none;
  border: none;
  font-size: 18px;
  width: auto;
}

#index table td:hover {
  background: transparent;
}

@media (max-width: 600px) {
  article img {
    display: none;
  }

  footer {
    padding: 1em;
    font-size: .8em;
  }

  #logo {
    display: none;
  }

  #alt {
    font-size: 12px;
  }

  h1 {
    font-size: 24px;
  }

  .decor {
    display: none;
  }

  nav {
    padding: 0;
  }

  nav ul li {  
    width: 100%;
    box-shadow: none;
    border-bottom: 1px solid #445;
    border-radius: 0;
    padding: 0;
  }

  article {
    width: 90%;
  }

  p {
    text-align: left;
  }

  #index table td,
  #index table th,
  #index table td:first-child {
    padding: 3px;
    font-size: 14px;
  }
}
