* {
  margin: 0;
  padding: 0;
}

body {
  background: #eee;
  font-size: 18px;
  text-rendering: optimizeLegibility;
}

p {
  font-family: "Karla", helvetica;
  line-height: 2em;
  text-align: justify;
}

span.small {
  font-size: .8em;
}

header {
  padding: 3%;
  background: #48a url('../header.jpg');
  background-size: cover;
  overflow: hidden;
}

footer {
  font-family: "Karla", helvetica;
  padding: 1.5em 3em 2em;
  background: #333;
  color: #aaa;
  min-height: 50px;
  overflow: hidden; /* Facebook like button iframe tends to break things */
}

footer .left {
  width: 50%;
}

footer .right {
  width: 50%;
}

footer .decor {
  text-align: right;
}

article {
  background: url("fdl.png") no-repeat 100% 100px;
  margin: 0 auto;
  padding: 2em 0;
  width: 70%;
}

article#index {
  background-image: none;
}

#alt, h1 {
  display: table-cell;
  padding: 5px;
  text-align: center;
  display: block;
}

h1 {
  background: #fff;
  opacity: .6;
  font-size: 3em;
  max-width: 400px;
  text-align: center;
  text-transform: uppercase;
}

#alt {
  background: #334;
  color: #fff;
  margin-top: 4%;
  width: 40%;
  transform: rotate(-4deg);
  -webkit-transform: rotate(-4deg);
  -ms-transform: rotate(-4deg);
}

.left {
  float :left
}
.right {
  float: left;
}

header .left {
  margin-right: 1em;
}

#logo {
  width: 100px;
  height: 100px;
}

nav {
  background: #269;
  padding-left: 3em;
  border-top: 1px solid #444;
}

nav ul li {
  display: inline-block;
  list-style-type: none;
  border-right: 1px solid #005;
  border-top-right-radius: 20px;
  box-shadow: 3px 0 10px -2px #445;
}

nav ul li a {
  display: inline-block;
  padding: .66em;
  width: 150px;
}

nav ul li.active a {
  color: #fff;
  text-decoration: underline;
}

a {
  color: #269;
}

a:hover,
a:focus,
a:active {
  color: #00f;
}

nav a {
  color: #bbb;
  text-decoration: none;
  font-size: 1.4em;
  text-shadow: 1px 1px #000;
}

nav a:hover,
nav a:focus,
nav a:active {
  color: #fff;
}

header, nav, h1, h2, h3, h4, form {
  font-family: "Abel", sans-serif;
}

article p {
  margin-bottom: 1.5em;
  letter-spacing: -.25px;
}

article h2 {
  color: #a44;
  font-size: 1.5em;
  margin-bottom: 1em;
  border-bottom: 1px solid #ccc;
}

h2::before {
  content: "⚜ ";
  color: #999;
}

article h3 {
  font-size: 1.2em;
  margin: 2em 0 1em;
  text-transform: uppercase;
  letter-spacing: 1pt;
  color: #a44;
}

article img {
  max-width: 200px;
  float: right;
  border: 1px solid #aaa;
  border-radius: 10px;
  margin: 0 0 1em 2em;
}

iframe,
.fb-like-box {
  margin-bottom: 1.5em;
}

#submit-result {
  display: none;
}

form {
  max-width: 500px;
}

form label {
  display: block;
}

form input[type="text"],
form textarea {
  font-family: "Karla";
  width: 90%;
}

form input[type="checkbox"] {
  margin-right: 1em;
}

form input#birth-year {
  display: inline;
  width: 3em;
}

form input,
form select,
form textarea {
  background: #fff;
  border: 1px solid #ccc;

  margin: .5em 0 1em;
  padding: 1em;
  font-size: 1em;
}

form table {
  padding-top: .5em;
}

form button {
  background: #269;
  color: #fff;
  font-size: 1.5em;
  border: 1px solid #666;
  font-family: "Karla", helvetica;
  padding: 1em;
  width: 100%;
}

#index table {
  border-collapse: collapse;
  font-family: "Karla", helvetica;
  margin: 0 auto 1em;
}

#index table td, #index table th {
  padding: 10px;
  width: 100px;
}

#index table td {
  background: #fff;
  border: 1px solid #ccc;
  word-break: break-word;
  font-size: 16px;
}

#index table td:first-child {
  background: none;
  border: none;
  font-size: 18px;
  width: auto;
}

#index table td:hover {
  background: transparent;
}

@media (max-width: 600px) {
  footer {
    padding: 1em;
    font-size: .8em;
  }

  header p {
  }

  #logo {
    width: 75px;
    height: 75px;
  }

  #alt {
    transform: none;
    -webkit-transform: none;
    -ms-transform: none;
    width: auto;
    max-width: 400px;
  }

  h1, #alt {
    margin-left: auto;
    margin-right: auto;
  }

  .decor {
    display: none;
  }

  nav {
    padding: 0;
  }

  nav ul li {  
    width: 100%;
    box-shadow: none;
    border-bottom: 1px solid #445;
    border-radius: 0;
    padding: 0;
  }

  article {
    width: 90%;
  }

  p {
    text-align: left;
  }

  #index table td,
  #index table th,
  #index table td:first-child {
    padding: 3px;
    font-size: 14px;
  }
}
